# Laufzeitdaten
**/config/
!stacks/homepage/config/
!stacks/homepage/config/*.yaml
!stacks/homepage/config/*.css
!stacks/homepage/config/*.js
stacks/homepage/config/logs/
**/cache/
**/data/
**/work/

# Datenbanken
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Docker Volumes
volumes/

# Environment
.env
stacks/adguard/conf/AdGuardHome.yaml
